<div class="container">
    <h1 class="d-flex justify-content-center mt-5">TO DO LIST</h1>
    <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-success d-flex" (click)="all()">All Tasks</button>
    </div>
    <form [formGroup]="todoDetails" (ngSubmit)="inputDetails()" class="d-flex justify-content-center">
        <div class="input-group mt-5 d-flex w-75 w-sm-25">
            <input type="text" class="form-control" placeholder="Task" aria-label="Username"
                aria-describedby="basic-addon1" name="work" formControlName="works">
            <button type="submit" class="btn btn-info ms-2">Add</button>
        </div>
    </form>
</div>